.TextArea{
    height:90%;
    width: 80%;
    margin: 0 auto;
    /* padding: 10px 0 10px 0; */
    

}

.Row{
    height:100% !important;
    /* background-color: #333333 !important; */
}
.MainPage{
    height:100vh !important;
    /* background-color: rgb(255, 225, 0) !important; */
    background-color: rgb(251, 219, 90) !important;
    padding: 10px;
}
.one{
    /* border-left: 1%; */
    border-color: aliceblue;
    border-style: none solid none none;
}


.TextBox{
    height:90% !important;
    width:100%;
    border-radius: 3%;
    resize: none;
    background-color: aliceblue;
}

.SubmitButtonWrapper{
    float: right;
}
body{
    background-color: rgb(251, 219, 90) !important;
}

.img{
    height: 255px;
    width:255px;
}

.ImageHolder{
    background-color: aqua;
}

.GenerateText{
    margin-right: 5px;
}